* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: "nunito-font";
  src: url("fonts/nunito/nunito-v25-latin-regular.woff2") format("woff2"),
    url("fonts/nunito/nunito-v25-latin-regular.woff") format("woff"),
    url("fonts/nunito/nunito-v25-latin-regular.ttf") format("truetype");
  font-display: swap;
}

body {
  background-color: hsl(0, 0%, 100%);
  font-family: "nunito-font", sans-serif;
}

/* mini header*/
#scroll-header {
  display: none;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  z-index: 90;
}

.logo-container {
  width: 9.375rem;
  background-image: url("./images/SJNMH.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#scroll-header > :nth-child(1) {
  margin-right: auto;
  /*This code moves selected child to the right */
}

.scroll-nav {
  height: 50px;
  margin-right: 10px;
}

.scroll-nav li {
  list-style-type: none;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.scroll-nav li a {
  color: #152137;
  text-decoration: none;
  padding: 12px 12px 12px 12px;
}

.scroll-nav li a:hover {
  color: #ffffff;
  background-color: #152137;
}

/* Hambuger dropdown nav */
#nav-toggle {
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  position: relative;
  display: none;
}

#dropdown-nav {
  margin-right: 1000;
  z-index: 100;
  background-color: #d6f5ff;
  display: none;
  position: absolute;
  margin-top: 49px;
  width: 100%;
}

.drop-nav {
  height: 12.5rem;
  text-align: center;
  margin: 0 45%;
  font-size: 1.3rem;
  font-weight: bold;
}

.drop-nav li {
  list-style: none;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 100%;
}

.drop-nav a {
  color: #152137;
  text-decoration: none;
}

.drop-nav a:hover {
  color: #152137;
  text-decoration: underline;
}

#ham-one {
  display: block;
  position: relative;
  width: 30px;
  height: 4px;
  background-color: #152137;
  margin-bottom: 4px;
  display: none;
}

#ham-two {
  display: block;
  position: relative;
  width: 30px;
  height: 4px;
  background-color: #152137;
  margin-bottom: 4px;
  display: none;
}

#ham-three {
  display: block;
  position: relative;
  width: 30px;
  height: 4px;
  background-color: #152137;
  margin-bottom: 4px;
  display: none;
}

/* main header */
#landing {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #d6f5ff;
}

#landing > :nth-child(3) {
  margin-right: auto;
  /*This code moves selected child to the right*/
}

.st-jude {
  max-width: 8.75rem;
  height: auto;
  padding: 0.01875rem 0rem 0rem 0rem;
}

.rectangle-shape {
  width: 0.3125rem;
  background-color: #152137;
  padding: 0rem 0.25rem;
  height: auto;
}

.site-name {
  margin-top: 5px;
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 0rem 0.625rem;
  font-size: 2rem;
  font-weight: bolder;
  line-height: 1.2;
  color: #152137;
  text-shadow: 2px 2px 4px #0e0e0e;
}

nav {
  margin-right: 0.125rem;
  height: 100%;
  display: flex;
}

.nav-button {
  border-color: #152137;
  height: 3.125rem;
  width: 5.625rem;
  font-size: 1.125rem;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  background-color: #152137;
  cursor: pointer;
  margin: 0.125rem;
  font-family: "nunito-font", Helvetica, Arial, sans-serif;
  transition: all 200ms ease-out;
}

.nav-button:hover {
  color: hsl(0, 0%, 100%);
  text-shadow: 2px 2px 4px #ffffff;
  font-size: 1.2rem;
}

/* banner */
#banner {
  width: 100%;
  background-color: #152137;
  margin-bottom: 30px;
}

.banner-note {
  font-size: 1.8em;
  margin: 0 auto;
  font-weight: bold;
  padding: 2.5rem 0rem;
  text-align: center;
  min-height: 1.25rem;
  color: #ffffff;
  width: 40%;
  font-style: italic;
}

/* Image slides */
.mySlides {
  display: none;
}

.img-preg {
  vertical-align: middle;
  width: 100%;
  height: 500px;
}

.slideshow-container {
  max-width: 60%;
  position: relative;
  margin: auto;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/*service section*/
#article-sect-1 {
  display: block;
  width: 100%;
  height: 800px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./images/services-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #0077b6;
  margin-top: 50px;
}

.intro-note {
  position: relative;
  font-size: 1.2rem;
  padding: 4% 2%;
  font-weight: bold;
  color: #0e0e0e;
  text-align: center;
  background-color: hsla(0, 0%, 100%, 0.8);
  width: 40%;
  margin: 0 auto;
  border-radius: 6px;
  margin-top: 125px;
}

.intro-note li {
  list-style-type: none;
}

.intro-note h3 {
  padding-bottom: 20px;
  font-size: 28px;
  text-decoration: underline;
  font-weight: bold;
}

#apps-container {
  background-color: #009cf0;
  padding: 5% 0%;
}

#apps {
  text-align: center;
  font-size: 28px;
  line-height: 1;
  margin: 0% 10%;
  font-weight: bold;
  color: #0e0e0e;
}

label {
  color: #0e0e0e;
}

input {
  background-color: #ffffff;
}

/* Due date calculator*/
#preg-due-date {
  text-align: center;
  margin: 1% 20% 5% 20%;
  background-color: #d6f5ff;
  color: #0e0e0e;
  display: block;
}

#preg-due-date h3 {
  font-size: 28px;
  padding: 0.5rem 0rem;
  color: #ffffff;
  background-color: #0e0e0e;
}

#preg-due-date h4 {
  font-size: 22px;
  padding: 10px 0;
  line-height: 1;
}

#lmp {
  height: 1.875rem;
  margin-bottom: 0.75rem;
  font-size: 18px;
}

#due-date-div {
  display: none;
  background-color: #ffb703;
  padding: 0 4px;
}

#due-date-result {
  color: rgb(0, 0, 0);
  padding: 10px 0px;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
}

#due-date-submit {
  border-radius: 0.3125rem;
  border-color: #0e0e0e;
  height: 2.125rem;
  width: 5.625rem;
  font-size: 1rem;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  background-color: #0e0e0e;
  margin-bottom: 1rem;
  cursor: pointer;
}

#due-date-reset {
  border-radius: 0.3125rem;
  border-color: rgb(0, 0, 0);
  height: 2.125rem;
  width: 5.625rem;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  margin-bottom: 0.5rem;
  cursor: pointer;
  display: inline-block;
}

#due-date-submit:hover {
  color: black;
  background-color: #ffb703;
}

/* toggle switch for body mass index calculator */
#bmi-toggle {
  display: block;
  text-align: center;
  position: relative;
  width: auto;
  margin: 5% 20% 0 20%;
  background-color: #0e0e0e;
  font-size: 24px;
  color: #ffffff;
  padding: 10px 0;
}

.bmi-label-std-met {
  color: #ffffff;
}

.bmi-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.bmi-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #0e0e0e;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #009cf0;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #ffffff;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.bmi-divider {
  border-bottom: 2px solid #152137; /* BMI calcutator header divider */
}

.bmi-labels {
  margin-top: 2%;
}

/* Body mass index calculator section */
#bmi-form-container-metric {
  text-align: center;
  margin: 0 20% 0% 20%;
  background-color: #d6f5ff;
  display: none;
}

#bmi-form-container-standard {
  text-align: center;
  margin: 0 20% 0% 20%;
  background-color: #d6f5ff;
  display: block;
}

.bmi-form h3 {
  font-size: 28px;
}

.bmi-form h4 {
  font-size: 22px;
}

#weight,
#height {
  width: 8.25rem;
  height: 1.875rem;
  margin-bottom: 0.75rem;
  font-size: 18px;
}

#weight-s {
  width: 8.25rem;
  height: 1.875rem;
  margin-bottom: 0.75rem;
  font-size: 18px;
}

#height-ft-s {
  width: 3.25rem;
  height: 1.875rem;
  margin-bottom: 0.75rem;
  font-size: 18px;
}

#height-in-s {
  width: 3.25rem;
  height: 1.875rem;
  margin-bottom: 0.75rem;
  font-size: 18px;
}

#bmi-div {
  display: none;
  background-color: #ffb703;
  padding: 0 4px;
}

#bmi-div-s {
  display: none;
  background-color: #ffb703;
  padding: 0 4px;
}

#bmi-result {
  color: rgb(0, 0, 0);
  padding: 10px 0px;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
}

#bmi-result-s {
  color: rgb(0, 0, 0);
  padding: 10px 0px;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
}

#bmi-submit {
  border-radius: 0.3125rem;
  border-color: #0e0e0e;
  height: 2.125rem;
  width: 5.625rem;
  font-size: 1rem;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  background-color: #0e0e0e;
  margin-bottom: 1rem;
  cursor: pointer;
}

#bmi-submit-s {
  border-radius: 0.3125rem;
  border-color: #0e0e0e;
  height: 2.125rem;
  width: 5.625rem;
  font-size: 1rem;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  background-color: #0e0e0e;
  margin-bottom: 1rem;
  cursor: pointer;
}

#bmi-reset {
  border-radius: 0.3125rem;
  border-color: #ffb703;
  height: 2.125rem;
  width: 5.625rem;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  background-color: #ffb703;
  margin-bottom: 0.5rem;
  cursor: pointer;
  display: inline-block;
}

#bmi-reset-s {
  border-radius: 0.3125rem;
  border-color: rgb(0, 0, 0);
  height: 2.125rem;
  width: 5.625rem;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  margin-bottom: 0.5rem;
  cursor: pointer;
  display: inline-block;
}

#bmi-submit:hover {
  color: black;
  background-color: #ffb703;
}

#bmi-submit-s:hover {
  color: black;
  background-color: #ffb703;
}

/* footer */
#foot {
  position: relative;
  color: #0e0e0e;
  background-color: #ffffff;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1.25rem;
  height: 150px;
}

#notice {
  position: fixed;
  display: "inline-block";
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 10px 0px;
  height: auto;
  color: #ffffff;
  background-color: #152137;
  width: 100%;
  z-index: 100;
}

#notice-button {
  color: white;
  background-color: red;
  padding: 2px 4px;
  border-color: red;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 10px;
  cursor: pointer;
}

#li-foot {
  text-align: center;
  list-style-type: none;
  margin: 0;
  font-size: 0.75rem;
}
.contact-li {
  padding: 0.1875rem;
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {
  /* Slider images */
  .slideshow-container {
    max-width: 70%;
  }

  .img-preg {
    width: 100%;
    height: 400px;
    margin: 0.625rem;
    display: block;
  }

  /* Service section*/
  .intro-note {
    font-size: 1.2rem;
    padding: 4% 2%;
  }
}

@media only screen and (max-width: 768px) {
  /*mini header*/
  .scroll-nav li {
    display: none;
  }

  /* hamburger dropdown nav */
  #nav-toggle {
    display: block;
  }

  #ham-one {
    display: block;
  }

  #ham-two {
    display: block;
  }

  #ham-three {
    display: block;
  }

  /*Main header*/
  .rectangle-shape {
    width: 100%;
    height: 4rem;
  }

  #landing {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 29.5rem;
  }

  #landing > :nth-child(3) {
    margin-right: 0%;
  }

  .site-name {
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #152137;
  }

  .site-name h2 {
    margin: 0rem 0.25rem;
  }

  /* Banner */
  .banner-note {
    width: 70%;
  }

  /* service section */
  .intro-note {
    font-size: 1.2rem;
    padding: 4% 2%;
  }

  /* Slide images*/
  .slideshow-container {
    max-width: 80%;
  }

  .img-preg {
    width: 100%;
    height: 380px;
    margin: 0.625rem;
    display: block;
  }

  #preg-due-date {
    margin: 1% 20% 7% 20%;
  }

  #bmi-form-container-metric {
    margin: 0 20% 2% 20%;
  }

  #bmi-form-container-standard {
    margin: 0 20% 2% 20%;
  }
}

@media only screen and (max-width: 480px) {
  /* Hamburger dropdown nav*/
  .drop-nav {
    margin: 0 42%;
  }

  /* mini header */
  .rectangle-shape {
    width: 100%;
    height: 4rem;
  }

  #landing {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 29.5rem;
  }

  #landing > :nth-child(3) {
    margin-right: 0%;
  }

  .site-name {
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #152137;
  }

  .site-name h2 {
    margin: 0rem 0.25rem;
  }

  /* banner */
  .banner-note {
    width: 90%;
  }

  /* slide images */
  .slideshow-container {
    max-width: 95%;
    margin-left: 2px;
  }

  .img-preg {
    width: 100%;
    height: 300px;
    margin: 0.625rem;
    display: block;
  }

  /* service section*/
  #article-sect-1 {
    height: 755px;
  }

  .intro-note {
    font-size: 1.2rem;
    padding: 4% 0%;
    width: 100%;
  }

  /* Calculator Apps section*/
  #apps {
    margin-top: 5%;
  }

  #preg-due-date {
    margin: 2% 1% 10% 1%;
  }

  #bmi-toggle {
    margin: 1rem 1% 0 1%;
  }

  #bmi-form-container-metric {
    margin: 0% 1% 10% 1%;
  }

  #bmi-form-container-standard {
    margin: 0 1% 10% 1%;
  }
}

@media only screen and (max-width: 425px) {
  /* hamburger dropdown nav */
  .drop-nav {
    margin: 0 40%;
  }

  /* service section */
  #article-sect-1 {
    height: 750px;
  }

  /* slide images */
  .slideshow-container {
    margin-left: 0px;
  }

  .img-preg {
    height: 300px;
  }

  .img-preg {
    height: 300px;
  }
}

@media only screen and (max-width: 320px) {
  /* Hamburger dropdown nav*/
  .drop-nav {
    margin: 0 38%;
  }

  #dropdown-nav {
    margin-top: 39px;
  }

  /* Main header */
  #landing {
    height: 28.3rem;
  }

  /* mini header */
  .scroll-nav {
    height: 40px;
  }

  /* slide images*/
  .slideshow-container {
    max-width: 98%;
    margin-right: 18px;
  }

  .slider:before {
    height: 22px;
    width: 22px;
  }

  .img-preg {
    height: 200px;
  }

  /* service section */
  .site-name h2 {
    margin: 0rem;
    font-size: 1.8rem;
  }

  #article-sect-1 {
    height: 745px;
  }

  .intro-note {
    width: 100%;
  }

  /* Body mass index section */
  .bmi-form h3 {
    font-size: 24px;
  }

  .bmi-form h4 {
    font-size: 18px;
  }

  #bmi-toggle {
    font-size: 22px;
  }

  .bmi-switch {
    width: 56px;
    height: 30px;
  }
}
